* {
    margin: 0px;
    padding: 0px;
}



.logo img {
    width: 300px;

}

.links {
    margin-left: 85%;
}

.links a {
    color: blue;
}

.links a:hover {
    color: red;
}
.links i{
    color: black;
}

nav {
    background-color: aquamarine;
    border: 1px solid black;
    height: 20px;
}

nav ul {
    float: left;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a{
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
nav .search {
    float: right;
}

aside {
    margin-left: 50px;
}

aside h3 {
    margin-left: -40px;
}



.books img {
    width: 200px;
    height: 200px;
}

.product h3 {
    margin-left: 10px;
}